<div class="container">
  <div class="container">
 	<div class="row">
 		<div class="col-md-12">
 			<h1>About me</h1>
 		</div>
  	</div>
  	<div class="row aboutme">
  		<div class="col-md-4 col-md-offset-1">
  			<div style="padding:10px;">
  				<img src="http://graph.facebook.com/600860870/picture?type=large&height=480" class="img-responsive"/>
  			</div>
  		</div>
  		<div class="col-md-6">
  			<div class="row"><h4 class="title">PROFILE</h4></div>
  			<div class="row">
  				<div class="col-md-4 info_field">Name</div>
  				<div class="col-md-8 info_value">Somwut Jamroonsilp (Wern)</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Date of Birth</div>
  				<div class="col-md-8 info_value">21 November 1985</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Phone</div>
  				<div class="col-md-8 info_value">+668-7790-7993</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Email</div>
  				<div class="col-md-8 info_value">wern_sj@hotmail.com</div>
  			</div><br/>

  			<div class="row"><h4 class="title">SKILLS</h4></div>
  			<div class="row">
  				<div class="col-md-4 info_field">Programming Lang.</div>
  				<div class="col-md-8 info_value">C, C++, C#, GoLang, AngularJS, Jquery, Javascript, CSS, Bootstrap, PHP, Codeigniter, Yii, HTML</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Other</div>
  				<div class="col-md-8 info_value">Salesforce.com, Google App Engine, MySQL, MSSQL, MongoDB</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Development Process</div>
  				<div class="col-md-8 info_value">TDD, Agile</div>
  			</div><br/>

  			<div class="row"><h4 class="title">EXPERIENCE</h4></div>
  			<div class="row">
  				<div class="col-md-4 info_field">Freelance Developer</div>
  				<div class="col-md-8 info_value">Developed and consult (2008-Present)</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Promptnow Co.,Ltd</div>
  				<div class="col-md-8 info_value">3D Game Developer (2008-2011)</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">AIS Co.,Ltd</div>
  				<div class="col-md-8 info_value">C Developer (2013-2014)</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Beryl8 Plus Co.,Ltd</div>
  				<div class="col-md-8 info_value">Technical Solution (2014-Present)</div>
  			</div><br/>

  			<div class="row"><h4 class="title">INTEREST</h4></div>
  			<div class="row">
  				<div class="col-md-4 info_field">Reading</div>
  				<div class="col-md-8 info_value">Interest in motivational, computer, business, management. </div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Photography / Travel</div>
  				<div class="col-md-8 info_value"><a href="https://www.facebook.com/wernmm/photos_albums" target="_blank">Visit my Photo</a></div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Music</div>
  				<div class="col-md-8 info_value"><a href="http://www.youtube.com/wernmm" target="_blank">Visit my channel</a></div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 info_field">Football</div>
  				<div class="col-md-8 info_value"><i>In Arsène We Trust</i></div>
  			</div>
  		</div>
  	</div>
  	<br/>
  	<br/>
  	<br/>
  	<div class="row">
  		<div class="quote">
  			"PRAY LIKE IT ALL DEPENDS ON GOD, BUT WORK LIKE IT ALL DEPENDS ON YOU."
  		</div>
  		<div class="quote-by">Dave Ramsey</div>

  	</div>
  </div>
</div>